<p>
  group works!
</p>

<!-- <div *ngFor="let ele of data">
  <h2 class="page-header">{{data.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Email:{{ele.email}}</li>
    <li class="list-group-item">Name:{{ele.name}} </li>
    <li class="list-group-item">Lname:{{ele.phone}} </li>
  </ul>
</div> -->


<div class="card-body">    
  <table class="table table-hover">
      <thead>
          <tr>
              <th></th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let ele of data">
              <td><input type="checkbox"></td>
              <td (click)="func(ele)">{{ele.name}}</td>
              <td>{{ele.email}}</td>
              <td>{{ele.phone}}</td>
          </tr>
      </tbody>
  </table>
  </div>