<p>
  login works!
</p>

<div class = "row" style="color:red">
    <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptatum laborum. Ducimus, explicabo? Blanditiis totam eum consectetur cum praesentium iusto libero ratione possimus debitis odio omnis eius vitae non sint, quasi veniam? Et enim adipisci vero at hic, ullam officiis qui consequuntur numquam vel, ipsam quod, illum quis! A porro omnis perspiciatis dolor alias quisquam, eum iste tempora facilis repellat. Veritatis amet et hic! Suscipit vel veniam consectetur qui culpa explicabo perspiciatis aut delectus? Saepe inventore voluptates quia perspiciatis laudantium beatae, facere rerum atque accusamus eaque necessitatibus quas excepturi exercitationem omnis ut nulla animi explicabo nihil odit qui non unde.</div>
    
  </div>