<!-- <div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Email:{{user.email}}</li>
    <li class="list-group-item">Name:{{user.fname}} </li>
    <li class="list-group-item">Lname:{{user.lname}} </li>
  </ul>
</div> -->

<div class="row">
  <div class="col-md-3">
    <button class="btn btn-primary btn-lg btn-block" routerLink="addcontact">Add Contact</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary btn-lg btn-block" routerLink="message">Send Message</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary btn-lg btn-block" routerLink="mail">Send Mail</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary btn-lg btn-block" routerLink="group">Group Message/Mail</button>
  </div>
</div> 

<div class="container">
<h1>Dashboard</h1>
</div>

<router-outlet></router-outlet>