<html>
<body >
  <header>
    <div class="hero">
      <h1 style="font-family: 'Bungee Shade', cursive;">IMS</h1>

    <h3 style="text-transform: uppercase;font-weight:300;    text-shadow: 1px 1px 15px rgb(211, 212, 205);">Instant Messaging Service</h3>
      <!-- <button class="btn btn-outline-danger btn-lg" style="padding:5px;">Virtual Tour</button> -->
    </div>
  </header>  


  <!-- Jumbotron -->
  <div class = "container-fluid">
      <div class = "row jumbotron">
        <div class = "col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
          <p class = "lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minima est impedit nobis voluptatum quasi nesciunt laboriosam mollitia obcaecati cupiditate eius a, optio delectus sapiente ducimus nisi omnis eos accusantium vitae neque distinctio ipsum illum quisquam. Asperiores aut, laboriosam nemo expedita assumenda possimus magnam eaque doloribus cupiditate atque quod quisquam.</p>
        </div>
        <div class = "col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <button type="button" class="btn btn-outline-secondary btn-lg">Web Hosting</button>
        </div>
      </div>
    </div>

   <!-- Info -->
   <div class="container">
   <div class="row justify-content-center" >
     <h1 style="font-family:'Bungee Shade', cursive;">Why should you use this webapp?</h1>
   </div> 
   <div class="row">
     <div class="col-lg-8 justify-content-center" style="padding-top: 60px;font-family: 'Raleway', sans-serif;color:#AFABAB">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur error nesciunt debitis dolorem eos assumenda nisi. Inventore veniam officia ut architecto magnam atque officiis quos, provident magni doloremque voluptates sit ullam esse ab accusantium repellendus consequatur, alias, mollitia vitae ipsa? Exercitationem, dolor? Odit quaerat inventore quia minus eveniet repellendus recusandae!</p>
     </div>
     <div class="col-md-4">
      <img src="../../assets/Images/analysis-blackboard-board-355952.jpg" style="height:250px;width:350px;border:15px solid #959393;">
     </div>
   </div>
  </div>

      
</body> 
</html>